.hero {
    padding: 5.6vw;

    &__content {
        display: flex;
        align-items: center;

        &__image {

            &__img {
                filter: drop-shadow(0 0 2rem red);
                width: 100%;
                max-width: 85%;
                border-radius: 60px;
            }
        }

        &__description {
            align-items: center;
        }
    }
}

@media (max-width:768px){
    .hero {
    
        &__content {
            display: block;
            &__image {
                &__img {
                    filter: drop-shadow(0 0 0.8rem red);
                    width: 100%;
                    max-width: 100%;
                    margin-top: 20px;
                }
            }
            &__description {
                .title{
                    margin-top: 40px;
                }
            }
        }
    }
}

